
@import url('./fonts.scss');

:root {
	--bg-color: #fffbf6;
	--card-color: #ffffff;
	--text-color: #000000;
	--border-color: #000000;
	--accent-color: #bf2b00;
	--secondary-color: #ffca94;
	--error: #c24141;
	--warning: #e7a917;
}

::selection {
	background-color: var(--accent-color);
	color: #fff;
}

body {
	font-family: "Visby", Arial, Helvetica, sans-serif;
	background-color: var(--bg-color);
	color: var(--text-color);
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.4;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: functions.toRem(36);
}
h2 {
	font-size: functions.toRem(32);
}
h3 {
	font-size: functions.toRem(28);
}
h4 {
	font-size: functions.toRem(24);
}
h5 {
	font-size: functions.toRem(20);
}
h6 {
	font-size: functions.toRem(16);
}

p {
	font-size: functions.toRem(16);
	line-height: 1.7;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: var(--accent-color);
}

select,
input,
button,
a {
	&:focus-visible {
		outline: 2px solid var(--accent-color);
		outline-offset: 2px;
	}
}

.visually-hidden,
.skip-link {
		position: absolute;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
		overflow: hidden;
}
.skip-link:focus {
		background: #05010e;
		display: inline-block;
		left: 2rem;
		top: 2rem;
		position: absolute;
		width: auto;
		height: auto;
		z-index: 200;
		color: #fff;
		padding: 0.85rem 2rem;
		font-weight: 500;
}