@import url('./fonts.scss');

:root {
	--content-width: 1800px;
	--purple: #8c44db;
	--purple2: #c11dd4;
	--pink: #ee1d90;
	--bg: #f9f5fd;
	--text: #000;
	--links: #000;
	--titles: #000;
	--text-shadow: #da80e5;
	--card: #ffffff;
	--card-border: #441a4a;
	--op-card: #13101d;
	--op-card-border: #c5b1c9;
	&[data-dark='true'] {
		--bg: #05010f;
		--text: #eef0fd;
		--links: #fff;
		--titles: #fff;
		--text-shadow: #b531c4;
		--card: #13101d;
		--card-border: #c5b1c9;
		--op-card: #ffffff;
		--op-card-border: #441a4a;
	}
}

::selection {
	background-color: var(--purple2);
	color: #fff;
}

body {
	font-family: 'Visby', Arial, Helvetica, sans-serif;
	background-color: var(--bg);
	color: var(--text);
	word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.4;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: functions.toRem(36);
}
h2 {
	font-size: functions.toRem(32);
}
h3 {
	font-size: functions.toRem(28);
}
h4 {
	font-size: functions.toRem(24);
}
h5 {
	font-size: functions.toRem(20);
}
h6 {
	font-size: functions.toRem(16);
}

p {
	font-size: functions.toRem(16);
	line-height: 1.7;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: var(--links);
}

select,
input,
button,
a {
	&:focus-visible {
		outline: 2px solid var(--purple2);
		outline-offset: 2px;
	}
}

.visually-hidden,
.skip-link {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.skip-link:focus {
	background: #05010e;
	display: inline-block;
	left: 2rem;
	top: 2rem;
	position: absolute;
	width: auto;
	height: auto;
	z-index: 200;
	color: #fff;
	padding: 0.85rem 2rem;
	font-weight: 500;
}
