@import url('./fonts.scss');

@mixin lightVars() {
	--bg: #f9f5fd;
	--op-bg: #05010f;
	--text: #000;
	--links: #000;
	--titles: #000;
	--text-shadow: #da80e5;
	--card: #ffffff;
	--card-border: #441a4a;
	--op-card: #13101d;
	--op-card-border: #c5b1c9;
	--wave-1: #f1eefa;
	--wave-2: #d5cce6;
	--wave-3: #e8e2f4;
	--feat-course-gradient: rgba(249, 245, 253, 0.88);
	--pattern-opacity: 0.7;
	--code-bg: #fff;
}
@mixin darkVars() {
	--bg: #05010f;
	--op-bg: #f9f5fd;
	--text: #eef0fd;
	--links: #fff;
	--titles: #fff;
	--text-shadow: #b531c4;
	--card: #13101d;
	--card-border: #c5b1c9;
	--op-card: #ffffff;
	--op-card-border: #441a4a;
	--wave-1: #262233;
	--wave-2: #201b29;
	--wave-3: #2a2437;
	--feat-course-gradient: rgba(6, 0, 16, 0.76);
	--pattern-opacity: 0.2;
	--code-bg: #15151e;
}

:root {
	--content-width: 1650px;
	--purple: #8c44db;
	--purple2: #c11dd4;
	--pink: #ee1d90;
	--error: #c24141;
	--warning: #e7a917;
	@include lightVars();
	@media (prefers-color-scheme: dark) {
		@include darkVars();
	}
	&[data-dark='true'] {
		@include darkVars();
	}
	&[data-dark='false'] {
		@include lightVars();
	}
}

::selection {
	background-color: var(--purple2);
	color: #fff;
}

body {
	font-family: 'Visby', Arial, Helvetica, sans-serif;
	background-color: var(--bg);
	color: var(--text);
	word-wrap: break-word;
	line-height: 1.7;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.4;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: functions.toRem(36);
}
h2 {
	font-size: functions.toRem(32);
}
h3 {
	font-size: functions.toRem(28);
}
h4 {
	font-size: functions.toRem(24);
}
h5 {
	font-size: functions.toRem(20);
}
h6 {
	font-size: functions.toRem(16);
}

p {
	font-size: functions.toRem(16);
	line-height: 1.7;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	color: var(--links);
}

select,
input,
button,
a {
	&:focus-visible {
		outline: 2px solid var(--purple2);
		outline-offset: 2px;
	}
}

.visually-hidden,
.skip-link {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.skip-link:focus {
	background: var(--op-bg);
	display: inline-block;
	left: 2rem;
	top: 2rem;
	position: absolute;
	width: auto;
	height: auto;
	z-index: 200;
	color: var(--bg);
	padding: 0.85rem 2rem;
	font-weight: 500;
}

.content-wrapper {
	max-width: var(--content-width);
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
	@include breakpoint.up('md') {
		padding: 0 30px;
	}
}

span.underline {
	position: relative;
	transform-style: preserve-3d;
	display: inline-block;
	&::before {
		content: '';
		background-image: url('../lib/assets/zig-02.svg');
		position: absolute;
		bottom: -10%;
		transform: translateZ(-1px);
		left: 0;
		width: 100%;
		height: 30%;
		background-repeat: repeat-x;
		z-index: -1;
	}
}
