pre.shiki {
	width: 100%;
	padding: 1.5rem;
	position: relative;
	margin: 0 0 2rem 0;
	overflow: auto;
}
[data-remark-code-title='true'] {
	padding: 0.75rem 1.5rem;
	background-color: var(--code-bg);
	margin-bottom: 1px;
	font-family:
		'dm',
		PT Mono,
		Consolas,
		Monaco,
		'Andale Mono',
		'Ubuntu Mono',
		monospace;
}
pre.shiki code {
	font-size: 1.15rem;
	font-family:
		'dm',
		PT Mono,
		Consolas,
		Monaco,
		'Andale Mono',
		'Ubuntu Mono',
		monospace;
}

pre.shiki button.copy {
	position: absolute;
	right: 16px;
	top: 16px;
	height: 28px;
	width: 28px;
	padding: 0;
	display: flex;

	& span {
		width: 100%;
		aspect-ratio: 1 / 1;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	& .ready {
		background-image: url(/icons/copy.svg);
	}

	& .success {
		display: none;
		background-image: url(/icons/copy-success.svg);
	}

	&.copied {
		& .success {
			display: block;
		}

		& .ready {
			display: none;
		}
	}
}

/* pre.shiki code {
	counter-reset: step;
	counter-increment: step 0;
}

pre.shiki code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-right: 1.5rem;
	display: inline-block;
	text-align: right;
	color: var(--card-border);
} */

:root {
	--shiki-dark-bg: var(--card) !important;
}
@media (prefers-color-scheme: dark) {
	html.no-js .shiki,
	html.no-js .shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}
:root[data-dark='true'] .shiki,
:root[data-dark='true'] .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}
