pre.shiki {
	width: 100%;
	padding: 1.5rem;
	position: relative;
	margin: 2rem 0;
	overflow: auto;
	border: 1px solid var(--code-border);
}
[data-remark-code-title='true'] {
	padding: 0.75rem 1.5rem;
	background-color: var(--code-bg);
	border: 1px solid var(--code-border);
	border-bottom: none;
	margin: 2rem 0 -2rem;
	font-family:
		'dm',
		PT Mono,
		Consolas,
		Monaco,
		'Andale Mono',
		'Ubuntu Mono',
		monospace;
}
pre.shiki code {
	font-size: 1.05rem;
	font-family:
		'dm',
		PT Mono,
		Consolas,
		Monaco,
		'Andale Mono',
		'Ubuntu Mono',
		monospace;
}

html.no-js pre.shiki button.copy {
	display: none;
}
/* pre.shiki code {
	counter-reset: step;
	counter-increment: step 0;
}

pre.shiki code .line::before {
	content: counter(step);
	counter-increment: step;
	width: 1rem;
	margin-right: 1.5rem;
	display: inline-block;
	text-align: right;
	color: var(--card-border);
} */

:root {
	--shiki-dark-bg: var(--card) !important;
}
@media (prefers-color-scheme: dark) {
	html.no-js .shiki,
	html.no-js .shiki span {
		color: var(--shiki-dark) !important;
		background-color: var(--shiki-dark-bg) !important;
		/* Optional, if you also want font styles */
		font-style: var(--shiki-dark-font-style) !important;
		font-weight: var(--shiki-dark-font-weight) !important;
		text-decoration: var(--shiki-dark-text-decoration) !important;
	}
}
:root[data-dark='true'] .shiki,
:root[data-dark='true'] .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
	/* Optional, if you also want font styles */
	font-style: var(--shiki-dark-font-style) !important;
	font-weight: var(--shiki-dark-font-weight) !important;
	text-decoration: var(--shiki-dark-text-decoration) !important;
}

pre.shiki {
	&:hover {
		button.copy {
			display: block;
		}
	}
	button.copy {
		position: absolute;
		right: 16px;
		top: 16px;
		padding: 7px 14px;
		display: none;
		background-color: transparent;
		border: 1px solid var(--code-border);
		font-weight: 400;
		font-family: 'Visby', Arial, Helvetica, sans-serif;
		font-size: functions.toRem(14);
		cursor: pointer;
		span.ready,
		span.success {
			background-color: transparent !important;
		}
		& .ready:before {
			content: 'Copy';
		}

		& .success {
			display: none;
			&:before {
				content: 'Copied!';
			}
		}

		&.copied {
			background-color: var(--code-border);
			& .success {
				display: block;
			}

			& .ready {
				display: none;
			}
		}
	}
}
